.chat-box-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header-container {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .chat-header-container {
    margin-left: 15px;
  }
}

.introductions-heading {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.introductions-text {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 20px;
}

.users-icon-container {
  margin-bottom: 20px;
  display: flex;
}

.users-icon {
  font-size: 25px;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .users-icon {
    margin-left: 10px;
  }
}

.users-count {
  color: #808080;
  font-size: 14px;
  margin-top: 4px;
}

.messages-container {
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-input-container {
  padding: 8px 16px;
  border: 1px solid #131313;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
}

.chat-input {
  background-color: transparent;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
}

.emoji-icon {
  margin-left: 10px;
  font-size: 24px;
  cursor: pointer;
}

.emoji-picker-wrapper {
  position: absolute;
  bottom: 45px;
  right: 15px;
}
