.chat-message-container {
  padding: 10px;
  display: flex;
}

.profile-container {
  color: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-content {
  flex: 1;
}

.user-name {
  color: #131313;
  font-size: 18px;
  font-weight: 600;
  margin: 4px 0;
}


.message-time {
  color: #808080;
  font-size: 14px;
  margin-left: 10px;
}

.message-text {
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  padding: 15px;
  padding-bottom: 2px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: inline-block;
}

.message-like-container {
  display: flex;
  justify-content: flex-end;
}

.like-button {
  background-color: transparent;
  font-size: 12px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .like-button {
    font-size: 14px;
  }
}

.like-count {
  color: #555555;
}

@media screen and (max-width: 767px) {
  .like-count {
    font-size: 14px;
    margin-left: 2px;
  }
}
